<div id="app" class="d-flex flex-column h-100 flex-fill">
  <div class="d-flex flex-column flex-fill justify-content-center align-items-center loading-page">
    <div class="d-flex align-self-middle app-title">
      <h1>linguiini</h1>
    </div>
    <div class="d-flex">
      <span class="d-flex flex-column justify-content-center">
        Loading application ...
        <div class="d-flex justify-content-center mt-3">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
